SPREADSHEET_ID=14iwDtu4Sg-GTvy7dQJKHSXXgVsLBIrIAI-XHfn-_g8M
FRONTEND_URL=https://stat-frontend-five.vercel.app/
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"...paste full JSON here as one line..."}
